<!DOCTYPE html>
<html>
<head>
	<title>Assignment#2</title>

	<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		var app=angular.module("MyApp",[]);        
		app.controller("op1",function($scope){
		});
	</script>
</head>
<body ng-app="MyApp" class="container">
	<div class="container" ng-init="name=[ 'Hulk', 'Batman', 'Superman', 'Thor', 'Wonderwomen', 'Black Widow' ]"></div>
	<h2><u>Ascending Order:</u></h2><h3 ng-repeat="nm in name | orderBy:nm">{{nm}}</h3>
	<h2><u>Descending Order:</u></h2><h3 ng-repeat="nm in name | orderBy:nm:true">{{nm}}</h3>
</body>
</html>